<p>rooms-add works!</p>
{{room | json}}
<form (ngSubmit)="AddRoom()">
  <div class="form-group">
    <input
      type="text"
      name="roomType"
      class="form-control"
      [(ngModel)] = 'room.roomType'
      placeholder="Room Type"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      name="amenities"
      class="form-control"
      placeholder="Amenities"
      [(ngModel)] = 'room.amenities'
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      name="price"
      class="form-control"
      placeholder="Room price per night"
      [(ngModel)] = 'room.price'
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      name="photos"
      class="form-control"
      placeholder="Photos link"
      [(ngModel)] = 'room.photos'
    />
  </div>
  <div class="form-group">
    <input
      type="datetime"
      name="checkinTime"
      class="form-control"
      placeholder="checkinTime"
      [(ngModel)] = 'room.checkinTime'
    />
  </div>
  <div class="form-group">
    <input
      type="datetime"
      name="checkoutTime"
      class="form-control"
      placeholder="checkOutTime"
      [(ngModel)] = 'room.checkoutTime'
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      name="rating"
      class="form-control"
      placeholder="Rating"
      [(ngModel)] = 'room.rating'
    />
  </div>
  <div>
    <button class="btn btn-primary" type="submit">submit</button>
  </div>
</form>
