<h1>Hello World</h1>
<!-- <p>Welcome to {{ hotelName }}</p> we can directly access the properties of the same class in the .html
Here hotelName is the property of the rooms.component.ts RoomsComponent class so we cannot directly access it-->
<p>Angular Sample Project</p>

<!-- <div>
    <ng-template #user></ng-template>
</div> -->


<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'user'"> <!--Using '' to make it string otherwise it will treat it as a varibale->
        Welcome User
    </div>
    <div *ngSwitchCase="'admin'">
        <app-rooms></app-rooms>
    </div>
    <div *ngSwitchDefault="">
        <h1>You are not Authorized to view this page</h1>
    </div>
    
</div> -->




<app-container>
    <app-rooms></app-rooms>
    <app-rooms></app-rooms>
    <app-employee></app-employee>
    <p>This is content is projected by parent app.component.html taking advantage of ng-content tag in the child container-component</p>
    <p>Para2</p>

</app-container>

<div #templateReferenceName>

</div>

