<p>rooms works!</p>
<p>Welcome to {{ hotelName }}</p>

<div [hidden]="hideRooms">
  <p>Number of rooms: <span [innerText]="numberOfRooms"></span></p>
  <!-- [] is called box syntax-->
</div>

<!-- nullish coalescing operator (??) -->
{{ rooms?.availableRooms ?? "No Rooms Available" }}

<!-- ngif directive to conditionally display or remove an html element -->
<div *ngIf="rooms.availableRooms > 0">
  Rooms List
  <!-- json pipe to view the data on the browser of an object -->
  <!-- {{ roomsList | json }} -->
</div>


<div>
    <button (click)="addRoom()">Add new Room</button>
</div>

<div>
    <app-rooms-list [rooms]="roomsList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle Rooms Info visibility</button>


<div *ngIf="selectedRoom">
    <p>selected room</p>
    {{selectedRoom | json}}
</div>